.navbar{
    background-color:rgb(217, 191, 220);
    overflow: hidden;
    border-bottom: 1px solid black;
    color: black;
    position: sticky;
    top:0px;
    
    }
    #brand{
    color: rgb(5, 170, 5);
    background-color: black;
    font-size: 50px;
    margin-left: 10px;
    border-radius: 20px;
    }
    #navitems{
        padding-top: 5px;
    list-style:none;
    float: right;
    display: flex;
    margin: 10px;
    position:relative;
    }
    #navitems li{
    display: inline;
    line-height: 35px;
    font-size: x-large;
    text-align: center;
    }
    #img{
        display:none;
    }
    #navitems li a
    {   background-color: #eeeeee00;
        padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: black;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    }
    #navitems li a:hover
    {
        padding: 10px;
        border-radius:25px;
        background-color: #6dd0fe;
        color: white;
    
    }
    #navitems li a:active
    {
        cursor: progress;
    }
    
    .intro{
        text-decoration: none;
        text-align: center;
        font-size:25px;
        color: black;
        background-color: rgba(217, 191, 220, 0.59);
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .intro:hover{
       
        color:rgb(51, 0, 60);
        
    }
    .couse .js{
        display: none;
    }
    .couse{
        overflow-x: hidden;
        text-align: center;
    }
    .couse a{
        text-decoration: none;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: larger;
        padding-left: 100px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 100px;
        background-color: black;
        color: white;
    }
    
    .couse a:hover{
        text-decoration: none;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: larger;
        background-color: black;
        color:  rgb(235, 198, 15);
    }
    #contact{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: large;
    }
    .about{
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
        text-align: center;
    }
    #body{
        background-image: url("busy-project-manager-overwhelmed-by-work (1).jpg") ;

        overflow-x:hidden;        
    }
   
    #img2{
        width:"540px";
        overflow: hidden;
    }
    #bar{
        font-size: x-large;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    #brand1{
        font-size:45px;
        font-family: Garamond;
        color:rgb(98, 0, 115); 
    }
    @media  all and (max-width:715px) and (min-width:0px){
       #brand {
            font-size:23px; 
        }
        #brand1{
            font-size:23px; 
        }
        #navitems li{
            
            display:none;
        }
        #navitems{
            margin:0px;
            padding:0px;
        }
        #bar{
            display: none;
        }
        #img {
           margin: 2px;
            list-style:none;
            float: right;
            display: flex;
            margin-left: 10px;
            position:relative;
            display: inline; line-height: 0.2px;
        }
        #img li{
            
            display: inline;
           
        }
    }
        @media  all and (max-width:540px) and (min-width:330px){
            .intro{
                font-size:20px;
            }
           #img2 {
                width:345px;
           }
           #contact{
            font-size: 11px;
           }
        }
        @media  all and (max-width:330px) and (min-width:0px){
            #contact{
                font-size: 8px;
               }
            .intro{
                font-size:15px;
            }
            #img2{
                display: none;
            }
            .couse .javascript{
                display: none;
            }
            .couse .js{
                display: inline;
            }

        }
 #htmlhead{
font-size: 80px;
background-color: black;
color: white;
margin-left: 200px;
}
#htmllink li a{
text-decoration: none;
line-height: 56px;
font-size: 20px;
color: green;
}

#htmllink li a:hover
{

background-color:palevioletred;
cursor: pointer;
}
#htmllink li a:active{

    cursor: progress;
}
